body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
.Top_bannera{
    background-image: url(/images/top-banner.png);
}
h1{
    font-size: 40px;

}
span{
    color:orange;
}
.Half_width{
    width:40%;
    float: left;
    padding:3%;
    margin:2%;
    background-repeat: no-repeat;

}
.Half_width img{
    width: 100%;
    background-image: url(/images/);
}
p{
    text-align: justify;
}
.link_button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(lightsalmon, tomato);
    border-radius: 5px;
    font-weight: 700px;
    color:antiquewhite
}

